[project]
name = "titiler.mosaic"
description = "MosaicJSON plugin for TiTiler."
readme = "README.md"
requires-python = ">=3.7"
authors = [
    {name = "Vincent Sarago", email = "vincent@developmentseed.com"},
]
keywords = ["MosaicJSON",]
classifiers = [
    "Intended Audience :: Information Technology",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: BSD License",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Topic :: Scientific/Engineering :: GIS",
]
dynamic = ["version"]
dependencies = [
    "titiler.core>=0.6.0a1,<0.7",
    "cogeo-mosaic>=4.1,<4.2",
]

[project.optional-dependencies]
test = [
    "pytest",
    "pytest-cov",
    "pytest-asyncio",
    "requests",
]

[project.urls]
Source = "https://github.com/developmentseed/titiler"
Documentation = "https://developmentseed.org/titiler/"

[build-system]
requires = ["flit>=3.2,<4"]
build-backend = "flit_core.buildapi"

[tool.flit.module]
name = "titiler.mosaic"

[tool.flit.sdist]
exclude = [
    "tests/",
]
