TITILER_STACK_NAME="my-tiler"
TITILER_STACK_STAGE="dev"
TITILER_STACK_BUCKETS='["my-bucket*", "*"]'
TITILER_STACK_MEMORY=3008

# Uncomment to allow lambda to access content on requester-payer buckets
# TITILER_STACK_ADDITIONAL_ENV='{"AWS_REQUEST_PAYER":"requester"}'
# Uncomment if you only on the /cog endpoint
# TITILER_STACK_ADDITIONAL_ENV='{"TITILER_API_DISABLE_STAC": "TRUE", "TITILER_API_DISABLE_MOSAIC": "TRUE"}'
