# aws cdk
aws-cdk-lib==2.94.0
aws_cdk-aws_apigatewayv2_alpha==2.94.0a0
aws_cdk-aws_apigatewayv2_integrations_alpha==2.94.0a0
constructs>=10.0.0

# pydantic settings
pydantic~=2.0
pydantic-settings~=2.0
