name: Publish docs via GitHub Pages

on:
  push:
    branches:
      - main
    paths:
      # Only rebuild website when docs have changed
      - 'README.md'
      - 'CHANGES.md'
      - 'CONTRIBUTING.md'
      - 'deployment/**'
      - 'docs/**'
      - '.github/workflows/deploy_mkdocs.yml'

jobs:
  build:
    name: Deploy docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.*" 
          enable-cache: true
    
      - name: Deploy docs
        run: uv run --group docs mkdocs gh-deploy --force -f docs/mkdocs.yml
